@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100vh;
  font-family: 'poppins', sans-serif;
  background: whitesmoke;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    position: absolute;
    left: 3rem;
    top: 2rem;
    color: rgb(54, 22, 54);
    font-family: 'Anton', sans-serif;
  }

  .portfolio {
    position: absolute;
    top: 2rem;


    &:hover {
      color: red;
    }
  }

  .email,
  .slack, 
  .twitter, 
  .whatsApp,
  .youtube,
  .github,
  .localhost, 
  .localhost2 {
    position: absolute;
    right: 3rem;
    top: 2rem;
    transition: 0.5s;
    font-size: 16px;

    &:hover {
      color: red;
    }
  }

  .slack{
    top: 4rem;
  }

  .twitter {
    top: 6rem;
  }

  .whatsApp {
    top: 8rem;
  }
  
  .youtube {
    top: 10rem;
  }

  .github {
    top: 12rem;
  }
  

  .localhost {
    top: 14rem;
  }

  .localhost2{
    top: 16rem;
  }

  h1 {
    margin-top: 15rem;
    font-size: clamp(80px, 9vw, 12vw);
    margin-bottom: 20px;
    text-transform: uppercase;         
    font-family: 'Anton', sans-serif;
    line-height: 130px;
  }

  h3 {
    color: #093624;
    font-size: 24px;
  }

}
